body{
    margin: 0;
    padding: 0;
}

*{
    text-decoration: none;
}

.navbar{
    background: rgb(225, 225, 225);
    font-family: calibri;
    padding: 0 15px;  
    width: 100%;     
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

ul{
    margin: 0;      
    padding: 0;     
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

button{
    background-color: black;
    margin-left: 10px;
    border-radius: 5px;
    padding: 4px;
    width: 80px;
    color: white;
    border: none;
    cursor: pointer;
}

.Titlename {
    text-align: center;
    margin-top: 50px;
}
