body {
           
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            transition: background-color 0.3s, color 0.3s;
        }
        
        
        .dark {
            background-color: #121212; 
            color: #f5f5f5;          
        }
        
       
        body:not(.dark) {
            background-color: #f5f5f5; 
            color: #333;             
        }

     
        #profile-img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

     
        section {
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
        }
        body:not(.dark) section {
            background-color: white;
        }
        .dark section {
            background-color: #1e1e1e;
        }
